<h1>Our Hours</h1>
<% for(let day of days) { %>
 <% const hoursObj = workingHours[day] || workingHours['default'] %>
 <section style="display: inline-flex; flex-direction: column; padding: 5px;">
    <h2><%= day.toUpperCase() %></h2>
    <div>
      <% if (hoursObj.open) {%>
        <p>Open: <%= hoursObj.open %></p>
        <p>Closed: <%= hoursObj.closed %></p>
      <% } else {%>
        CLOSED
      <% } %>
    </div>
 </section>
<% }%>